{% extends base %}
 
{% block content %}
		
		<!-- Main Wrapper -->
			<div class="text-center">
				<div class="title">2012-2013</div>
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Main -->
								<div id="main">
									<div>
										<div class="row">
											<div class="12u skel-cell-important">
											
												<!-- Content -->
													<div id="content">
														<article class="is is-post">
															<header class="style1">
															
															
															</header>
															<label align=center>
															
																<img src="{{chemin}}/media/img/maisondesligues.png" alt=""  />
															
												
														</article>
														<div>
															 <label align="center">Dans cette page vous trouverez toutes les activités vues pendant la 1ère année de BTS SIO.</label>
</label>
<label align="center"><b>Présentation du projet Maison des Ligues avec son organisation : </b></label>
<label  align="center">   <a href="{{chemin}} /media/doc/m2l-organisation.docx" target="_blank">M2L-Organisation</a></label>

<label align="center"><b>Solution sécurité Réseau  + document (Les Vlans + adressage ip + norme wifi 802) :</b></label> 
<label align="center"/> <a href="{{chemin}}/media/doc/securité.pptx" target="_blank">Solution de sécurité réseau</a> 

<label align="center"/><a href="{{chemin}}/media/doc/vlan.docx" target="_blank">Définition VLAN</a>

<label align="center"/><a href="{{chemin}}/media/doc/adresse-ip.xlsx" target="_blank">Adresse IP</a>

<label align="center"/><a href="{{chemin}}/media/doc/adresse-ip2.xlsx" target="_blank">Adresse IP2</a>

<label align="center"/><a href="{{chemin}}/media/doc/wifi.docx" target="_blank">Etude de la norme wifi 802</a>

<label align="center"><b>Travail sur Excel :</b></label> 
<label align="center"><a href="{{chemin}}/media/doc/tp-pirate.xlsx" target="_blank">TP n°2 , Pirates</a> 

<label align="center"/><a href="{{chemin}}/media/doc/tp-prime.xlsx" target="_blank">TP n°2 , Primes</a> 

<label align="center"/><a href="{{chemin}}/media/doc/tp-trafic.xlsx" target="_blank">TP n°2 , Trafic</a> 

<label align="center"/><a href="{{chemin}}/media/doc/tp-ca.xlsx" target="_blank">TP n °1, C.A</a> 

<label align="center"><b>Travail sur Word :</b></label> 
<label align="center"/><a href="{{chemin}}/media/doc/automobilebardon.docx" target="_blank">automobileBARDON</a> 

<label align="center"/><a href="{{chemin}}/media/doc/bulletinbardon.docx" target="_blank">bulletinBARDON</a> 

<label align="center"/><a href="{{chemin}}/media/doc/cvbardon.docx" target="_blank">cvBARDON</a> 

<label align="center"/><a href="{{chemin}}/media/doc/gattbardon.docx" target="_blank">gattBARDON</a> 

<label align="center"/><a href="{{chemin}}/media/doc/developpement.docx" target="_blank">plan de développementBARDON</a> 

<label align="center"/><a href="{{chemin}}/media/doc/vacancesbardon.docx" target="_blank">vacancesBARDON</a> 

<label/>
<label align="center"><b>Cours sur l'intervention , dépannage :</b></label> 

<label align="center"/><a href="{{chemin}}/media/doc/docIntervention.pdf" target="_blank">Cours Recto</a> 

<label align="center"/><a href="{{chemin}}/media/doc/docIntervention2.pdf" target="_blank">Cours Verso</a> 

													</div>
												<!-- /Content -->
											
											</div>
										</div>
									</div>
								</div>
							<!-- /Main -->
							
						</div>
					</div>
				</div>
			</div>
		<!-- /Main Wrapper -->
{% endblock %}