{% extends base %}
 
{% block content %}
		
		<!-- /Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div class="wrapper wrapper-style2">
				<div class="title">2013-2014</div>
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Main -->
								<div id="main">
									<div>
										<div class="row">
											<div class="12u skel-cell-important">
											
												<!-- Content -->
													<div id="content">
														<article class="is is-post">
															<header class="style1">
															
															
															</header>
															<label align=center>
														
																<img src="{{chemin}}/media/img/gsb.png" alt=""  />
															
												
														</article>
														<div>
															
													</div>
												<!-- /Content -->
												<label align="center">Vous trouverez ci-joint le contexte de cette année concernant l'entreprise GSB</label>
													<label align="center"><a href="doc/GSB.pdf" target="_blank">Contexte GSB</a></label>
										<label align="center">Voici la liste des différentes missions rencontrées durant cette 2nd année</label>
										<label align="center"><b>Mission 3 - Ciqual</b></label>
										<label align="center">Durant cette mission nous avons découvert l'usage d'un framework MVC en php</label>
											<label align="center"><b>Mission 4- GSB-Praticien</b></label>
										<label align="center">Découverte de l'usage d'un framework MVC en java</label>
											<label align="center"><b>Mission 5 - Hibernate/Doctrine </b></label>
										<label align="center">Le but de cette mission a été de découvrir les ORM en java(Hibernate) et en php(Doctrine)</label>
											<label align="center"><b>Mission 6 - GSB-Patients</b></label>
										<label align="center">Découverte de symfony en suivant la méthode SCRUM</label>
											<label align="center"><b>Mission 7 - GSB-Praticien</b></label>
										<label align="center">Java-SWING - Bases de données SQL Server avancée avec la méthode SCRUM</label>
											<label align="center"><b>Mission 8 - GSB-Praticien</b></label>
										<label align="center">Développement de l'application praticien sous Java-Android avec Web-Service en suivant la méthode SCRUM</label>
											<label align="center"><b>Mission en autonomie - GSB-Report</b></label>
										<label align="center">Le but de cette mission était d'utiliser les connaissances acquises durant le stage de 2ème année afin de les mettre en pratique avec le cas GSB</label>
									<label align="center"><img src="{{chemin}}/media/img/GSB-Report-Capture1.png" alt="" width="90%" /></label>
									<label align="center"><img src="{{chemin}}/media/img/GSB-Report-Capture2.png" alt="" width="90%" /></label>
									<label/>
										<label align="center"><b>Gestion du patrimoine</b></label>
									<label>Nous avons également vu en SI7 l'automatisation de sauvegarde de base de données.</label>
									<label>La mission ici était de mettre en place un système de sauvegarde de bases de données et de l'automatiser</label>
									<label>J'ai ainsi utilisé un script en python permettant de sauvegarder une base de données. L'automatisation de l'éxecution de ce script est passé par l'ajout d'une tâche cron sous linux. </label>
											    	<label align="center"><img src="{{chemin}}/media/img/cron.png" alt="" width="45%" /></label>
											    <label>Voici le code nécessaire pour la tâche CRON : <a href="{{chemin}}/media/doc/tache.txt" target="_blank"> cliquez ici </a></label>
											</div>
										</div>
									</div>
								</div>
							<!-- /Main -->
							
						</div>
					</div>
				</div>
			</div>
		<!-- /Main Wrapper -->
{% endblock %}