
		{% extends base %}
 
{% block content %}
		

		<!-- Main Wrapper -->
			<div class="wrapper wrapper-style2">
				<div class="title">Conseil Général du Cantal</div>
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Main -->
								<div id="main">
									<div>
										<div class="row">
											<div class="12u skel-cell-important">
											
												<!-- Content -->
													<div id="content">
														<article class="is is-post">
															<header class="style1">
															
															
															</header>
															<p align=center>
															
																<img src="{{chemin}}/media/img/cg15.jpg" alt=""  />
															
														</p>
	<p>Ma mission pour ce stage de 1ère année a été de développer en C# une application de transfert de fichier appelé Lilou.

<p/><b>Etapes</b>

<br>- Logiciel utilisé : Visual Studio 2012.

<p/>- Après avoir étudié le cahier des charges et demander au maitre de stage des précisions sur certains points, la 1ère partie a été de réaliser l'application en client lourd, sans base de données donc tout en dur.



<p/>- Cette étape passée, mon maitre de stage m'a donné pour but de coder cette application de transfert de ficher en C# Web.

<p/>- Tout comme la version client lourd , le développement de l'application s'est déroulé sur Microsoft Visual Studio 2012 , mais l'application necessitant une Base de Données , cela se passa sur Microsoft SQL Server Management Studio.

<p/>- Mais avant des créer cette base de données , il fallait produire un MCD, une fois que mon tuteur fut en accord avec celle-ci, l'étape de la création et du remplissage de la BDD a enfin commencé.

<p/- >L'objectif de cette base de données était de rendre l'application plus dynamique , le code peut être modifié rapidement sans avoir à modifier toutes les pages de codes.

<p/><b>Les compétences acquises durant le stage de 1ère année au Conseil Général du Cantal ont été :</b>

<p align="center"><b>Lors de la création de cette application :</b>

<p/>A1.1.1 Analyse du cahier des charges d’un service à produire.

<p/>A1.2.1 Élaboration et présentation d’un dossier de choix de solution technique.

<p/>A1.2.4 Détermination des tests nécessaires à la validation d’un service.

<p/>A2.3.1 Identification, qualification et évaluation d’un problème.

<p/>A4.1.2 Conception ou adaptation de l’interface utilisateur d’une solution applicative.

<p/>A4.1.3 Conception ou adaptation d’une base.

<p/>A4.1.9 Rédaction d’une documentation technique de données.

<p align="center"><b>Déploiement de l’application :</b>

<p/>A1.2.5 Définition des niveaux d’habilitation associés à un service.

<p/>A1.3.1 Test d’intégration et d’acceptation d’un Service.

<p/>A1.3.4 Déploiement d’un service.

<p/>A4.1.8 Réalisation des tests nécessaires à la validation d’éléments adaptés ou développés.
<p/>

<p align="center">Interface de l'application client lourd</p>
	<p align="center"><a><img src="{{chemin}}/media/img//lilou_lourd.png" alt="" width="500" height="375"/></a></p>
	
	<p align="center"><b>code de la page Lilou:</b></p>

	<p align="center"><a href="{{chemin}}/media/doc/lilouLourd.txt" target="_blank"> cliquez ici </a></p>

<p align="center"><b>Capture d'écran de l'application :</b>
<br />
<p align="center">Interface de l'application web</p>
	<a><img src="{{chemin}}/media/img//lilou_login.png" alt="" width="500" height="375"/></a>

<a><img src="{{chemin}}/media/img//lilou_main.png" alt="" width="500" height="375"/></a>


<p align="center"><b>code de la page Login :</b></p>

	<p align="center"><a href="{{chemin}}/media/doc/lilouWebLogin.txt" target="_blank"> cliquez ici </a></p>

<p align="center"><b>code de la page Index :</b></p>

 	<p align="center"><a href="{{chemin}}/media/doc/lilouWebIndex.txt" target="_blank"> cliquez ici </a></p>
 
 <p align="center"><b>code de la page Nouvelle Application :</b></p>

	<p align="center"> <a href="{{chemin}}/media/doc/lilouWebNouvelleApp.txt" target="_blank"> cliquez ici </a></p>
 
														</article>
														<div>
															
													</div>
												<!-- /Content -->
											
											</div>
										</div>
									</div>
								</div>
							<!-- /Main -->
							
						</div>
					</div>
				</div>
			</div>
	<!-- /Main Wrapper -->
{% endblock %}